*{
	margin: 0;
	padding: 0;
}
.clearfix{
	clear: both;
}
header, #wrapper, #cabecera, footer{
	width: 550px;
	margin: 0 auto;

}

nav{
	width: 100%;
	background: #ffffff;
}
.holi{
	background: #ffffff;
}
p{
	text-align: center;
	background: #ffffff;
}
#nav_header{
	list-style: none;
}
.boton{
	display: inline-block;
	width: 20%;
	text-align: center;	
	float: left;
}
.boton a{
	padding: 5px 0;
	background: #f9f9cc;
	display: block;
	width: 100%
	height: 100%;
	text-decoration: none;
	color: #535353;
	transition: all ease 0.5s;
}
.boton a:hover{
	background: #535353;
	color: #f9f9cc;
	transform: scale(1.1);
}
#wrapper{
	/*height: 700px;*/
	background: #F667EB;
}
aside{
	min-height: 400px;
		height: 100%;
		width: 30%;
		background: #f0f0f0;
		float: left;
}
#wrapper section{
	height: 100%;
	width: 66%;
	background: #F667EB;
	float: left;
	padding: 0 2%;
}


footer{
	height: 70px;
	background: #666;
}
/*#abc213*/